<a href="https://colab.research.google.com/github/baselhusam/Data-Preparation-Course-IEEE-CIS/blob/main/Lec4_Feature_Engineering_%26_Splitting_the_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

## Feature Engineering

### Feature Extraction

In [3]:
df.shape

(891, 12)

In [4]:
df['FamilySize'] = df['SibSp'] + df['Parch']

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [7]:
df['IsAlone'] = np.where(df['FamilySize'] == 0, 1, 0)

In [8]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,IsAlone
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,1

In [9]:
df.shape

(891, 14)

### Feature Selection

In [10]:
selected_features = ['Pclass', 'Sex', 'Age', 'Embarked', 'FamilySize', 'IsAlone', 'Fare', 'Survived']
df = df[selected_features]

In [11]:
df.shape

(891, 8)

In [12]:
df.head()

   Pclass     Sex   Age Embarked  FamilySize  IsAlone     Fare  Survived
0       3    male  22.0        S           1        0   7.2500         0
1       1  female  38.0        C           1        0  71.2833         1
2       3  female  26.0        S           0        1   7.9250         1
3       1  female  35.0        S           1        0  53.1000         1
4       3    male  35.0        S           0        1   8.0500         0

### Feature Transformation

In [13]:
df['Age'] = np.sqrt(df['Age'])

In [14]:
df.head()

   Pclass     Sex       Age Embarked  FamilySize  IsAlone     Fare  Survived
0       3    male  4.690416        S           1        0   7.2500         0
1       1  female  6.164414        C           1        0  71.2833         1
2       3  female  5.099020        S           0        1   7.9250         1
3       1  female  5.916080        S           1        0  53.1000         1
4       3    male  5.916080        S           0        1   8.0500         0

### PCA

In [15]:
from sklearn.decomposition import PCA

In [22]:
from sklearn.preprocessing import OrdinalEncoder

# Ordinal Encoding
oe = OrdinalEncoder()
df['Embarked'] = oe.fit_transform(df[['Embarked']])

# One Hot Encoding
df = pd.get_dummies(df)

In [23]:
df.head()

,Pclass,Age,Embarked,FamilySize,IsAlone,Fare,Survived,Sex_female,Sex_male
0,3,4.690416,2.0,1,0,7.2500,0,0,1
1,1,6.164414,0.0,1,0,71.2833,1,1,0
2,3,5.099020,2.0,0,1,7.9250,1,1,0
3,1,5.916080,2.0,1,0,53.1000,1,1,0
4,3,5.916080,2.0,0,1,8.0500,0,0,1

In [24]:
df.shape

(891, 9)

In [31]:
df['Age'].fillna(df['Age'].median(), inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [33]:
pca = PCA(n_components=2)

pca_components = pca.fit_transform(df)
pca_components

array([[-24.9612186 ,   0.64492831],
       [ 39.10136829,  -0.60684515],
       [-24.28911738,  -0.45735717],
       ...,
       [ -8.7437205 ,   2.05550483],
       [ -2.19387706,  -1.02889247],
       [-24.46537012,  -0.89835525]])

## Splitting the Data

In [34]:
X = df.drop(columns='Survived')
y = df['Survived']

X.shape, y.shape

((891, 8), (891,))

### Train and Test Sets

In [35]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((712, 8), (179, 8), (712,), (179,))

### Train, Validation, and Test Sets

In [37]:
X_train, X_rem, y_train, y_rem = train_test_split(X, y, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_rem, y_rem, test_size=0.5, random_state=42)

X_train.shape, y_train.shape, X_val.shape, y_val.shape, X_test.shape, y_test.shape

((623, 8), (623,), (134, 8), (134,), (134, 8), (134,))

## Unbalanced Data

In [40]:
from sklearn.utils import resample

df['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [41]:
df_majority = df[ df.Survived == 0 ]
df_minority = df[ df.Survived == 1 ]

In [43]:
df_minority_upsampled = resample(df_minority,
                                 replace=True,  # sample with replacement
                                 n_samples= len(df_majority),  # to match majority class
                                 random_state=42 
                                 )

In [44]:
df_balanced = pd.concat([df_majority, df_minority_upsampled])

In [46]:
df_balanced['Survived']

0      0
4      0
5      0
6      0
7      0
      ..
146    1
387    1
369    1
165    1
88     1
Name: Survived, Length: 1098, dtype: int64

In [48]:
df_balanced['Survived'].value_counts()

0    549
1    549
Name: Survived, dtype: int64

## `ffill` and `bfill`

In [49]:
df['Age'] = df['Age'].fillna(method='ffill')
df['Age'] = df['Age'].fillna(method='bfill')

## Ordinal Encoding Sorting Issue

In [53]:
# Ordinal Encoding Sorting Issue

# oe = OrdinalEncoder(categories=[['S', 'C', 'Q']])
# df['Embarked'] = oe.fit_transform(df[['Embarked']])